CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-3g=y
#
# MMDVM
#
CONFIG_PACKAGE_dapnet-gateway=y
CONFIG_PACKAGE_ircddb-gateway=y
CONFIG_PACKAGE_libmmdvm=y
CONFIG_PACKAGE_libwxwidgets=y
CONFIG_PACKAGE_mmdvm=y
CONFIG_PACKAGE_mmdvm-cal=y
CONFIG_PACKAGE_mmdvm-host=y
CONFIG_PACKAGE_mmdvm-luci=y
CONFIG_LUCI_APP_MMDVM=y
CONFIG_LUCI_THEME_BOOTSTRAP_MMDVM=y
# CONFIG_PACKAGE_DGIdGateway is not set
# CONFIG_PACKAGE_YSFGateway is not set
# CONFIG_PACKAGE_YSFParrot is not set
CONFIG_PACKAGE_YSFReflector=y
# CONFIG_PACKAGE_YSF2DMR is not set
CONFIG_PACKAGE_mmdvm-crossmode=y
#
# Translations
#
CONFIG_LUCI_LANG_zh-cn=y
CONFIG_PACKAGE_mmdvm-luci-i18n-zh-cn=y
CONFIG_PACKAGE_nxdn-clients=y
CONFIG_PACKAGE_p25-clients=y
CONFIG_PACKAGE_ysf-clients=y

